<div class="row text-center">
  <h1>Thank You!</h1>
  <h1>Enjoy the Talks</h1>
</div>

<div class="row text-center sign-in">
<%= link_to 'Press Here to Sign In', root_path, class: 'btn btn-primary col-offset-sm-4' %>
</div>
