<div class="row">
  <h1 class="text-center">Update Your Information</h1>
</div>
<br>
<%= render 'form' %>

<div class="row text-center">
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div>
<br>
<p>* info provided will allow us to contact you if you said you would like to speak at a future meetup and to distribute key group info.  We respect your privacy. General group announcements will be made via the Meetup page.</p>