<h1 class="text-center">New User</h1>
<br>

<%= render 'form' %>
<div class="row text-center">
<%= link_to 'Back', users_path %>
</div>
<br>
<div class="row text-center">
<p>* We will send you a link to the Bay Area Billing and Payment Engineers Meetup.</p>
</div>
